@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'Colony';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/fonts/ColonBol.ttf) format('truetype');
  }

  body {
    @apply flex justify-center items-center bg-black text-white
  }
}
